/* Import de la funte de google "Nunito" */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
:root {
  --color-fondo: #2a2a2a;
  --color-bordo: #9f3647;
}

/* Estilos para los hipervinclos */
a {
  text-decoration: none;
  color: #fff;
}
a:visited {
  color: #fff;
}

body {
  line-height: 1;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right top, #19141436, #18141936),
    url("../assets/img/bg-register.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: #fff;

  header {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    nav {
      font-size: 1.2em;
      padding-left: 1.5em;
      padding-top: 1em;
      font-weight: 700;
    }
  }

  main {
    .sign-in-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100vw;
      height: 90vh;

      .sign-in {
        background-color: var(--color-fondo);
        width: 30%;
        height: 90vh;
        border-radius: 5px;

        .sign-in-form {
          margin: auto;
          width: 80%;
          height: 100%;
          display: flex;
          align-items: left;
          justify-content: center;
          flex-direction: column;
          padding-left: 1em;

          input {
            margin: 0.2em 0 1em 0;
            width: 88%;
            height: 35px;
            border-radius: 25px;
            outline: none;
            border: 2px solid var(--color-bordo);
            font-size: 1.2em;
            background-color: #333333;
            padding-left: 1em;
          }
          .sign-in-button {
            /* align-self: left; */
            color: white;
            font-size: 0.9em;
            text-align: center;
            background-color: var(--color-bordo);
            height: 60px;
            border-radius: 5px;
          }

          h1 {
            font-size: 2.5em;
            font-weight: 700;
            margin-bottom: 0.5em;
          }

          p {
            color: grey;
          }
        }
      }
    }
  }
}
