/* Import de la funte de google "Nunito" */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* Definicion de variables para paleta de colores */
:root {
  --color-bordo: #9f3647;
  --color-fondo: #181419;
}

/* Reseteo de margenes */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-fondo);
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: #fff;
  overflow-x: hidden;

  /* botón para desplazarse hacia arriba */
  .top {
    position: fixed;
    right: 2%;
    bottom: 3%;
  }
}

/* Estilos para los hipervinclos */
a {
  text-decoration: none;
  color: #fff;
}
a:visited {
  color: #fff;
}

/* Colores y medidas de la barra de desplazamiento */
::-webkit-scrollbar {
  background-color: var(--color-fondo);
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-bordo);
}

/* Animaciones */

/* Animacion para el logo CaC-Movies */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Animacion para el header */
.zoomInDownAnimation {
  animation: zoomInDown 1s;
}

/* Animacion para la seccion de Busqueda */
.rubberBandAnimation {
  animation: rubberBand 1s;
}

/* Diseño reponsive para PC de la barra de navegacion */
.navbar {
  position: fixed;
  z-index: 2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.2em 2.5em 1em;
  background-color: var(--color-bordo);

  .logo {
    font-size: 1.2em;
    font-weight: 800;

    &:hover {
      animation: shake 0.5s infinite;
    }
  }

  .links {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 2em;

    li {
      margin: 1.2em;
      .link {
        padding: 0.5em;
        border-radius: 5px;
        font-weight: 700;
      }

      .sign-up {
        background-color: #000;
      }

      & .link:hover {
        background-color: rgba(255, 255, 255, 0);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        transition: box-shadow 0.5s ease;
      }
    }
  }
}

/* diseño resposive para dispositivos mobile */
@media (max-width: 768px) {
  .navbar {
    margin-bottom: 2px;
    flex-direction: column;
    height: auto;

    .links {
      font-size: 0.9em;
      margin: 0.1em;
      flex-wrap: wrap;
    }
  }
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  /* Diseño reponsive para PC - banner */
  .hero {
    background-image: linear-gradient(
        to right top,
        rgba(0, 0, 0, 0.54),
        rgba(0, 0, 0, 0.54)
      ),
      url("../assets/img/banner-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;

    .title {
      font-size: 4em;
      font-weight: 600;
      margin-bottom: 1em;
    }
    .subtitle {
      font-size: 2em;
      font-weight: 600;
      margin-bottom: 1em;
    }

    a {
      font-size: 1.1em;
      padding: 1em 2em;
      background-color: var(--color-bordo);
      border-radius: 5px;
      margin: 1em;

      &:hover {
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
        transform: scale(0.95);
        transition: box-shadow 0.5s ease;
        transition: transform 0.5s ease;
      }
    }
  }

  /* Diseño reponsive para Mobile - banner */
  @media (max-width: 768px) {
    .hero {
      background-size: cover;
      background-position: initial;
      background-repeat: no-repeat;
      margin-top: 85px;
      height: 65vh;

      .title {
        font-size: 2.5em;
        font-weight: 600;
        margin-bottom: 0.5em;
      }
      .subtitle {
        font-size: 1.5em;
        font-weight: 600;
        margin-bottom: 1em;
      }

      a {
        font-size: 0.9em;
        font-weight: 700;
        padding: 1em 2em;
        background-color: var(--color-bordo);
        border-radius: 5px;
        margin: 1em;
      }
    }
  }

  /* Diseño reponsive para PC - Barra de búsqueda */
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 50vh;

    h2 {
      font-size: 2em;
      margin: 1em;
    }

    form {
      display: flex;
      align-items: center;
      justify-content: center;

      .input-search {
        margin: 1em;
        width: 500px;
        height: 50px;
        border-radius: 25px;
        border: none;
        outline: none;
        font-size: 1.5em;
        padding-left: 1em;
      }

      .register-button {
        color: white;
        border: none;
        font-weight: 600;
        height: 50px;
        font-size: 1em;
        padding: 0 1.5em;
        background-color: var(--color-bordo);
        border-radius: 25px;
        /* margin: 0em; */
        border: 2px solid white;

        &:hover {
          box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
          transform: scale(0.95);
          transition: box-shadow 0.5s ease;
          transition: transform 0.5s ease;
        }
      }
    }
  }

  /* Diseño reponsive para Mobile - Barra de búsqueda */
  @media (max-width: 768px) {
    .search {
      width: 100vw;
      height: 35vh;
      justify-content: flex-start;
      align-items: normal;
      padding-top: 50px;

      h2 {
        text-align: center;
        font-size: 1.5em;
        margin: 0.5em;
      }

      form {
        padding-top: 30px;
        .input-search {
          margin: 1em;
          width: 60%;
          height: 40px;
          border-radius: 30px;
          font-size: 1em;
          padding-left: 0.5em;
        }

        .register-button {
          color: white;
          border: none;
          font-weight: 600;
          height: 40px;
          font-size: 0.9em;
          padding: 0 1.5em;
          background-color: var(--color-bordo);
          border-radius: 25px;
          /* margin: 0em; */
          border: 2px solid white;

          &:hover {
            box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
            transform: scale(0.95);
            transition: box-shadow 0.5s ease;
            transition: transform 0.5s ease;
          }
        }
      }
    }
  }

  hr {
    align-self: center;
    justify-self: center;
    width: 80%;
    border: 1px solid var(--color-bordo);
    margin: 2em;
  }

  /* Diseño reponsive para PC - Seccion tendencias peliculas */
  .tendencias {
    h2 {
      font-size: 2em;
      margin: 0.5em;
      text-align: center;
    }

    .tendencias-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: 2em;

      .card {
        position: relative;
        margin: 2em;

        &:hover {
          img {
            box-shadow: 0 0 30px var(--color-bordo);
            filter: blur(2px);
            /* transition: ease 1s; */
            transform: scale(0.95);
            transition: all 0.5s ease;
          }
          p {
            font-size: 2rem;
            opacity: 1;
            transition: all 0.5s ease;
          }
        }

        .movie-title {
          z-index: 1;
          position: absolute;
          text-align: center;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
        }

        p {
          font-size: 1em;
          font-weight: 600;
          opacity: 0;
          transition: all 0.5s ease;
        }

        img {
          border-radius: 10px;
          width: 200px;
          transition: all 0.5s ease;
        }
      }
    }

    .pagination {
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        margin: 2em;
        width: 100px;
        height: 50px;
        font-size: 1em;
        color: white;
        font-weight: 600;
        background-color: var(--color-bordo);
        border-radius: 5px;
        border: 1px solid white;

        &:hover {
          box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
          transform: scale(0.95);
          transition: box-shadow 0.5s ease;
          transition: transform 0.5s ease;
        }
      }
    }
  }

  /* Diseño reponsive para Mobile - Seccion tendencias peliculas */
  @media (max-width: 768px) {
    .tendencias {
      .tendencias-container {
        .card {
          img {
            width: 325px;
          }
        }
      }
      .pagination {
        margin-bottom: 2em;
        button {
          margin: 1em;
          font-size: 0.7em;
          width: 80px;
          height: 40px;
        }
      }
    }
  }

  /* Diseño reponsive para PC - Seccion peliculas mas aclamadas */
  .aclamadas {
    max-width: 80%;

    h3 {
      text-align: center;
      font-size: 2rem;
      margin: 2rem;
    }

    .mas-aclamadas {
      margin-bottom: 2em;
      display: flex;
      align-items: flex-start;
      justify-items: flex-start;
      overflow-x: scroll;
      overflow-y: hidden;

      .card-mas-aclamadas {
        margin: 1rem;
        display: inline;
        img {
          width: 150px;
          border-radius: 10px;
        }
      }
    }
  }

  /* Diseño reponsive para Mobile - Seccion peliclas mas aclamadas */
  @media (max-width: 768px) {
    .aclamadas {
      .mas-aclamadas {
        .card-mas-aclamadas {
          img {
            width: 125px;
            border-radius: 10px;
          }
        }
      }
    }
  }

  .hero-details {
    padding-top: 100px;
    width: 100vw;
    height: 100vh;

    .hero-container {
      background-image: linear-gradient(
          to right top,
          rgba(107, 107, 107, 0.651),
          rgba(134, 134, 134, 0.5)
        ),
        url("../assets/img/mario-bg.jpg");
      height: 70vh;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        border-radius: 20px;
        margin-right: 2em;
      }

      .movie-description {
        padding: 1em;
        width: 55vw;

        h1 {
          font-size: 2.3em;
        }

        h3 {
          margin-top: 1em;
          font-size: 1.5em;
        }

        .items-detail {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-top: 2em;

          h4 {
            font-size: 1.2em;
          }
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .hero-details {
      height: 100vh;
      background-size: cover;
      display: flex;

      .hero-container {
        width: 100vw;
        height: 90vh;
        flex-direction: column;
        img {
          width: 200px;
        }

        .movie-description {
          padding: 1em 3em;
          width: 80vw;

          h1 {
            font-size: 1.5em;
          }

          h3 {
            margin-top: 1em;
            font-size: 1em;
          }

          .items-detail {
            padding-top: 1em;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            h4 {
              font-size: 1.1em;
            }
            div {
              padding-bottom: 1em;
            }
          }
        }
      }
    }
  }

  .trailer {
    padding: 0em 0 3em 4em;
    display: flex;
    align-items: center;
    justify-content: center;

    .trailer-container {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 60px;

      .video-trailer {
        margin: 0 1em 0 1em;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h3 {
          padding-bottom: 10px;
          font-size: 1.2em;
        }
      }

      .trailer-description {
        width: 100%;
        margin: auto;

        .medias {
          width: 100%;
          display: flex;
          column-gap: 5em;
          padding-bottom: 1em;
          .list-item {
            font-size: 2.3em;
          }
        }

        .description-container {
          max-width: 100%;
          /* justify-content: space-between; */
          th,
          td {
            text-align: left;
            font-size: 1.1em;
          }
          td {
            padding: 10px 0;
            padding-left: 5em;
          }
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .trailer {
      margin-top: 4em;
      .trailer-container {
        flex-direction: column;

        .video-trailer {
          iframe {
            width: 95vw;
          }
        }
      }

      .trailer-description {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        .medias {
          margin-top: 2em;
          justify-content: space-between;
          padding: 0 2em;
          width: 100%;
        }

        .description-container {
          padding: 0 2em;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          td {
            padding: 10px 0 10px 50vw;
          }
        }
      }
    }
  }
}

/* Diseño reponsive para PC - Footer */
.footer {
  background-color: var(--color-bordo);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  .links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 1em;

    li {
      font-size: 1.2em;
      list-style: none;
      margin: 0.6em 1em;
      font-weight: 800;

      .move-to-top {
        background-color: var(--color-fondo);
        padding: 0.5em;
        border-radius: 5px;
      }
    }
  }
}

/* Diseño reponsive para Mobile - Footer */
@media (max-width: 768px) {
  .footer {
    height: auto;
    .links {
      font-size: 0.8em;
      flex-direction: column;
    }
  }
}
/* Estilos de page iniciar sesión*/

.bodySign_in {
  height: 100vh;
  background: linear-gradient(to right top, #24242473, #24242473),
    url(../assets/img/bg-register.jpg);
  background-size: cover;
  background-position: center;
}

.headerSign_in {
  color: #ffffff;
  height: 8vh;
  padding: 30px;
}
.tituloForm {
  display: block;
  font-size: 2.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

.iniciarSesion {
  background-color: rgb(42, 42, 42);
  width: 30%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-size: 1.2rem;
}
input:not(.check, .boton),
select {
  width: 100%;
  margin-bottom: 10px;
  height: 40px;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 20px;
  border: 2px solid var(--color-bordo);
  background-color: #333333;
  outline: none;
  color: rgb(255, 255, 255);
}

.boton {
  width: 87%;
  box-sizing: content-box;
  background-color: #9f3647;
  border: 2px solid #9f3647;
  color: #ffffff;
  padding: 1rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
}

a {
  margin-top: 40px;
  font-size: 1rem;
  text-decoration: none;
  color: #787878;
  font-weight: 400;
}

/* Diseño reponsive para Mobile - page iniciar sesion*/
@media (max-width: 768px) {
  .iniciarSesion {
    height: 90vh;
    width: 90%;
    border: solid #2a2a2a;
    display: flex;
    justify-content: center;

    .tituloForm {
      padding-top: 40px;
      text-align: center;
      font-size: 1.5em;
      margin: 0.5em;
    }

    .form {
      padding-top: 30px;
      margin: 1em;
      border-radius: 30px;
      width: 50vh;
    }

    input a {
      padding-top: 10px;
      margin: 1em;
      border-radius: 30px;
      font-size: 1em;
      width: 30vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    a {
      margin-left: 60px;
      margin-top: 40px;
      font-size: 1rem;
      text-decoration: none;
      color: #787878;
      font-weight: 400;
    }
  }
}

/*ESTILOS ESCRITORIO PARA PAGINA Registrarse */
.bodyRegistrarse {
  height: 100vh;
  background: linear-gradient(to right top, #24242473, #24242473),
    url("../assets/img/bg-register.jpg");
  background-size: cover;
  background-position: center;
  .headerRegistrarse {
    color: #ffffff;
    height: 8vh;
    padding: 30px;
    .anclaLogo {
      text-decoration: none;
      color: #ffffff;
      font-weight: 700;
      font-size: 1.2rem;
      /*animacion hover*/
      &:hover {
        animation: tilt-n-move-shaking 0.25s infinite;
      }
    }
  }

  .main {
    /*seccion de registrarse.html*/
    .seccionRegistrarse {
      background-color: rgb(42, 42, 42);
      width: 30%;
      margin: 0 auto;
      border-radius: 5px;
      padding: 40px 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 90vh;
      font-size: 1.2rem;
      .tituloRegistrarse {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 20px;
      }
      /*seleccionar todos los input menos el checkbox*/
      form {
        width: 100%;
        padding: 40px;
        input:not(.check, .boton),
        select {
          width: 100%;
          margin-bottom: 10px;
          height: 40px;
          padding: 0px 20px;
          font-size: 1.2rem;
          border-radius: 20px;
          border: 2px solid #9f3647;
          background-color: #333333;
          outline: none;
          color: rgb(255, 255, 255);
        }
        .error input:not(.check, .boton),
        .error select {
          border: 1px solid #ff0000;
        }
        .error-text {
          color: #ff0000;
          font-size: 0.8rem;
          margin-top: 0px;
          margin-bottom: 10px;
        }

        .terminos {
          font-size: 0.8rem;
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          .textoCheck {
            margin-left: 10px;
          }
        }
        .boton {
          width: 87%;
          box-sizing: content-box;
          background-color: #9f3647;
          border: 2px solid #9f3647;
          color: #ffffff;
          padding: 1rem 1rem;
          border-radius: 5px;
          font-size: 1rem;
          font-weight: 500;
        }
        .ayuda {
          margin-top: 40px;
          font-size: 1rem;
          text-decoration: none;
          color: #787878;
          font-weight: 400;
        }
      }
    }
  }
}

/*media querys para mobile PAGINA registrarse*/
@media (max-width: 1200px) {
  .bodyRegistrarse {
    .headerRegistrarse {
      padding: 20px;
      .anclaLogo {
        font-size: 1rem;
      }
    }
    .main {
      .seccionRegistrarse {
        width: 95%;
        padding: 10px 10px;
        .tituloRegistrarse {
          font-size: 2rem;
        }
        form {
          width: 100%;
          text-align: center;
          input:not(.check, .boton),
          select {
            width: 80%;
            height: 35px;
            font-size: 1rem;
          }
          .terminos {
            width: 80%;
            margin: 0 auto;
            font-size: 0.7rem;
          }
          .boton {
            margin-top: 20px;
            margin-bottom: 20px;
            width: 70%;
            padding: 0.8rem 0.8rem;
            font-size: 0.8rem;
          }
          .ayuda {
            text-align: left;
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
